body {
    font-family: "Nunito Sans", sans-serif;
}


/*------------------- NAVBAR ------------------ */
header {
    border-bottom: 1px solid #cbd0dd;
}

nav .navbar-brand {
    line-height: 30px;
    height: 30px;
    padding: 0 0 0 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333a73;
}

.loggedin-welcome {
    line-height: 30px;
    margin-bottom: 0;
}


/*------------------- FORMS ------------------ */
.forms {
    padding: 2rem 0;
}

.forms input,
.forms button {
    margin-bottom: 1rem;
}